@font-face {
  font-family: myHeaderFont;
  src: url(../../fonts/Adventure.otf);
}

.heroes section {
    margin: 10px 0;
    padding: 5px; 
    border: 1px solid #4f4f4f; 
    border-radius: 8px;
    background: #2d2d2d; 
    text-align: center;
    color: #ffffff; 
}

.search-header {
  font-family: myHeaderFont; 
  font-size: 30px; 
  letter-spacing: 2px;
}

.search-form {
    margin: 10px; 
    line-height: 2;
}

.form-button {
    background: #004D7C; 
    border-radius: 5px; 
    border: 1px solid #004D7C; 
    margin: 15px 5px 0 5px; 
    padding: 3px 7px;
    color: #ffffff; 
    font-size: 15px; 
  }

  .form-button:hover {
    background: #0C725A; 
    border: 1px solid #B6AF06;
    cursor: pointer; 
  }

  .search-button:active {
    background: #850707; 
  }

  .save-search-button {
    font-size: 12px;
    padding: 1px 5px;
  }

  .save-search-button:active {
    color: #850707; 
  }