.favorites-modal {
    position: fixed;
    left: 61%;
    top: 22%;
    width: 20%;
    border: 10px solid #850707; 
    border-radius: 8px;
    padding: 10px; 
    background: #2d2d2d; 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.favorites-list {
    text-align: center; 
    width: 30%; 
    margin: 0 auto; 
    font-size: 13px; 
    line-height: 1.6;
}

.favorites-titles {
    text-align: left; 

}