.container { 
  max-width: 960px;
  margin: 0 auto; 
}

.app-header {
  margin: 0;
  text-align: center; 
}

.marvel-book-icon {
  margin: 15px 0; 
}

.favorites-button {
  background: #004D7C; 
  border-radius: 5px; 
  border: 1px solid #004D7C; 
  padding: 4px 10px; 
  color: #ffffff; 
  font-size: 15px; 
}

a .favorites-button {
  text-decoration: none; 
}

a .favorites-button:hover {
  background: #0C725A; 
  border: 1px solid #B6AF06;
  cursor: pointer; 
}

